.mission-vision {
    display: flex;
    justify-content: space-around; /* This will space out the boxes evenly */
    align-items: stretch; /* This will make them of equal height */
    padding: 20px;
    gap: 20px; /* This will add space between the two boxes */
}

.mission,
.vision {
    flex: 1; /* This will make the boxes take up equal width */
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 25px; /* Adjusted for a more subtle rounded corner */
    display: flex;
    flex-direction: column;
    justify-content: center; /* This centers the content vertically */
}

.slider-card h2 {
    font-size: 2.5em; 
    margin-bottom: 1.5em; 
    color: white;
}

.slider-card p {
    font-size: 2em; 
    line-height: 1.5; 
    color: white;
}



/* Optional: if you want the text to not be too close to the edges */
.mission p,
.vision p {
    margin: 0 auto;
    line-height: 1.6;
    max-width: 80%; 
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .mission-vision {
        flex-direction: column;
        width: 70%;
    }

    .mission,
    .vision {
        flex-basis: 100%; /* Each takes the full width on smaller screens */
    }
}